body {
  background: #fafafa; }

.box {
  position: relative;
  height: 600px;
  width: 600px;
  margin: auto;
  display: block; }

.head {
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: #bf916f;
  border-radius: 40%; }

.glasses, .teeth, .lower-lip, .upper-lip {
  display: none; }

.head-copy {
  background: #00c853; }

.head:hover .iris {
  animation: lookDown .3s forwards; }

.head:hover .teeth {
  display: none; }

.head:hover .glasses, .head:hover .lower-lip, .head:hover .upper-lip {
  display: block; }

.ear-left {
  position: absolute;
  background: #bf916f;
  top: 35%;
  left: -6.5%;
  width: 7.5%;
  height: 12.5%;
  border-radius: 50% 0  0 50%; }

.ear-right {
  position: absolute;
  background: #bf916f;
  top: 35%;
  right: -6.5%;
  width: 7.5%;
  height: 12.5%;
  border-radius: 0 50%  50% 0; }

.eye {
  position: absolute;
  width: 5%;
  height: 5%;
  height: 6.5%;
  width: 6.5%;
  background: #fafafa;
  border-radius: 50%;
  margin: auto; }

.eye-left {
  top: 40%;
  left: 33%; }

.eye-right {
  top: 40%;
  right: 33%; }

.lens-left {
  position: absolute;
  top: 30%;
  left: 20%;
  height: 100px;
  width: 100px;
  background: #d50000;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  border-radius: 12%; }

.lens-right {
  position: absolute;
  top: 30%;
  right: 20%;
  height: 100px;
  width: 100px;
  background: transparent;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  border-radius: 12%; }

.iris {
  position: relative;
  top: 25%;
  margin: auto;
  background: #bbdefb;
  width: 50%;
  height: 50%;
  border-radius: 50%; }

.pupil {
  position: relative;
  top: 25%;
  margin: auto;
  background: #000;
  width: 50%;
  height: 50%;
  border-radius: 50%; }

.nose {
  position: absolute;
  top: 42.5%;
  left: 43.75%;
  border-radius: 30%;
  height: 20%;
  width: 12.5%;
  background: #eebb99;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: #eebb99; }

.upper-lip {
  position: absolute;
  background: #CCA083;
  width: 25%;
  height: 2.5%;
  border-radius: 50% 50% 0 0;
  top: 71%;
  left: 37.5%; }

.teeth {
  position: absolute;
  display: block;
  background: #fff;
  width: 25%;
  height: 5%;
  border-radius: 0 0 50% 50%;
  top: 71%;
  left: 37.5%; }

.lower-lip {
  position: absolute;
  background: #CCA083;
  width: 25%;
  height: 3.5%;
  border-radius: 0 0 50% 50%;
  top: 74%;
  left: 37.5%; }

.neck {
  position: absolute;
  background: #bf916f;
  width: 25%;
  height: 20%;
  border-radius: 0 0 50% 50%;
  top: 95%;
  left: 37.5%;
  z-index: 2; }
