.box {
  position: relative;
  margin: auto;
  margin-top: 4em;
  width: 800px;
  height: 600px;
  background: #fffde7; }

.box-side {
  position: absolute;
  display: block;
  width: 40%;
  height: 10%;
  right: -10%;
  top: 56%;
  transform: rotate(140deg);
  background: #6d4c41;
  z-index: 3;
  -ms-transform: skew(-5deg, 5deg);
  /* IE 9 */
  -webkit-transform: skew(-50deg, 5deg);
  /* Safari */
  transform: skew(-5deg, -40deg);
  /* Standard syntax */ }

.box-bottom {
  position: absolute;
  display: block;
  width: 60%;
  height: 10%;
  left: 10%;
  top: 75%;
  background: #a1887f;
  transform: rotate(5deg);
  z-index: 4; }

.pizza-title {
  position: absolute;
  font-family: sans-serif;
  top: 30%;
  left: 30%;
  color: #1b5e20;
  font-weight: 700; }

.big-action {
  position: absolute;
  top: 35%;
  font-size: 1.5em;
  text-align: center;
  margin-left: 25%;
  color: #d50000; }

.small-action {
  position: absolute;
  top: 45%;
  font-size: .85em;
  text-align: center;
  margin-left: 40%;
  color: #1b5e20; }

.box-top {
  position: absolute;
  width: 60%;
  background: lightblue;
  height: 50%;
  top: 25%;
  left: 33%;
  -ms-transform: skew(-50deg, 5deg);
  /* IE 9 */
  -webkit-transform: skew(-50deg, 5deg);
  /* Safari */
  transform: skew(-50deg, 5deg);
  /* Standard syntax */ }
